.containerLogin {
    background-image: url('https://images.pexels.com/photos/7329892/pexels-photo-7329892.jpeg?cs=srgb&dl=pexels-alexandra-bilham-7329892.jpg');
    background-size: cover;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

