@import '../../../style/Variables.scss';
@import '../../../style/style.scss';

.containerNewVeterinario {
    background-image: url('https://images.pexels.com/photos/97082/weimaraner-puppy-dog-snout-97082.jpeg');
    background-size: cover;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}