.input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0.3em;
    padding: 10px;
    border: unset;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    box-sizing: border-box;
}

.inputReadOnly {
    margin-top: 10px;

    label {
        color: white;
    }
}