.input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: unset;
    padding: unset;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: unset
}

.inputReadOnly {
    border: unset;
    border-radius: unset;
    padding-right: unset;
    border-left: 1px solid gray;

    &:first-of-type {
        border: unset;
    }
}